/* HTML */
#TopoProec {
	padding-bottom: 0px;
	padding-top: 0px;
}

#apresentacao {
	padding-bottom: 50px;
	padding-top: 50px;
}
#conteudo {
	padding-bottom: 50px;
	padding-top: 0px;
}
#ImagemLogosProec img {
	max-height: 100px;
	max-width: 200px;
	padding: 20px;
}
#forunsdestaques {
	margin-bottom: 50px;
}
#foruns {
	padding-bottom: 50px;
	padding-top: 50px;
}
#videos {
	padding-bottom: 50px;
	padding-top: 50px;
}
#noticias {
	padding-bottom: 50px;
	padding-top: 50px;
}
#LogosProec {
	padding-bottom: 50px;
	padding-top: 50px;
}
#rodapeGrupo {
	padding-bottom: 50px;
	padding-top: 50px;
}
/* Novas classes genéricas*/
.m1 {
	padding-top: 20px;
}
.logotipos {
	max-height: 4rem;
}
.titulodestaque {
	text-shadow: 2px 2px 8px #000000;
}
.somos-preac {
}
.main-menu {
	height: 10rem;
}
.somos-proec-button {
	background-color: #e1e1e1;
}

a.nounderline:link {
	text-decoration: none;
}

body {
	margin: 0;
}
/* Fontes */
body {
	margin-bottom: 0.5rem;
	font-family: "Fira Sans", sans-serif;
	line-height: 1.6;
}

p {
	font-size: 1rem;
}

.logo-ggbs {
  display: inline-block;
  background: transparent url("../img/universidade/ggbs.png") no-repeat;
  width: 111px;
  height: 51px;
  margin:15px;
}

.logo-ggbs:hover {
  display: inline-block;
  background: transparent url("../img/universidade/ggbs_hover.png") no-repeat;
  width: 111px;
  height: 51px;
  margin:15px;
}

.logo-fcm {
  display: inline-block;
  background: transparent url("../img/universidade/fcm.png") no-repeat;
  width: 372px;
  height: 59px;
  margin:15px;
}

.logo-fcm:hover {
  display: inline-block;
  background: transparent url("../img/universidade/fcm_hover.png") no-repeat;
  width: 372px;
  height: 59px;
  margin:15px;
}

.logo-proec {
  display: inline-block;
  background: transparent url("../img/universidade/proec.png") no-repeat;
  width: 135px;
  height: 49px;
  margin:15px;
}

.logo-proec:hover {
  display: inline-block;
  background: transparent url("../img/universidade/proec_hover.png") no-repeat;
  width: 135px;
  height: 49px;
  margin:15px;
}

.logo-instant {
  display: inline-block;
  background: transparent url("../img/universidade/instant.png") no-repeat;
  width: 149px;
  height: 61px;
  margin:15px;
}

.logo-instant:hover {
  display: inline-block;
  background: transparent url("../img/universidade/instant_hover.png") no-repeat;
  width: 149px;
  height: 61px;
  margin:15px;
}

.logo-clarus {
  display: inline-block;
  background: transparent url("../img/universidade/clarus.png") no-repeat;
  width: 86px;
  height: 75px;
  margin:15px;
}

.logo-clarus:hover {
  display: inline-block;
  background: transparent url("../img/universidade/clarus_hover.png") no-repeat;
  width: 86px;
  height: 75px;
  margin:15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	font-weight: 600;
	line-height: 1.2;
}

.grupo-destaque {
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.05rem;
	margin-bottom: 0px;
}

.list-group-item {
	border: none;
}

a.link-noticia-card {
	color: #343a40;
}

.thumb-destaque {
	width: 250px;
	height: 211px;
}

.thumb-blogroll {
	width: 296px;
	height: 250px;
}

@media only screen and (max-width: 1200px) {
	.card-noticia {
		height: 470px;
	}
}

@media only screen and (min-width: 1200px) {
	.card-noticia {
		height: 470px;
	}
}

@media only screen and (max-width: 992px) {
	.sidebar-noticia {
		margin-top: 6%;
	}
	.sidebar-eventos {
		margin-top: 6%;
	}
	.somos-proec {
		font-size: 32px;
		font-weight: 300;
		line-height: 1.2;
	}

	.titulo-banner {
		font-size: 21px;
	}

	.card-noticia {
		height: 500px;
	}
}

@media only screen and (max-width: 768px) {
	.card-noticia {
		height: 600px;
	}

	.descricao-banner {
		visibility: hidden;
		clear: both;
		display: none;
	}

	.titulo-banner {
		font-size: 16px;
	}
}

@media only screen and (max-width: 576px) {
	.card-noticia {
		height: 500px;
	}

	.descricao-banner {
		visibility: hidden;
		clear: both;
		display: none;
	}
	.titulo-banner {
		font-size: 16px;
	}
}

.card-header {
	color: #ffffff;
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	background-color: #dc3545;
	border-bottom: 1px solid #dc3545;
}

.img-proec {
	width: 100px;
	height: 100px;
	margin: 0% 1% 0% 1%;
}

#destaques:hover {
	opacity: 0.9;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

.img-noticia:hover {
	opacity: 0.9;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

.noticia-bloco {
	border: 0px;
}

.card-columns {
	@include media-breakpoint-only(xl) {
		column-count: 5;
	}
	@include media-breakpoint-only(lg) {
		column-count: 4;
	}
	@include media-breakpoint-only(md) {
		column-count: 3;
	}
	@include media-breakpoint-only(sm) {
		column-count: 2;
	}
}

.card-noticia {
	border: 0px;
}

.card-downloads {
	min-height: 435px;
}

/* dropdown menu */

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}

#proec-grupo {
	background-color: #dddddd;
}

.extensao-banner {
	padding-right: 0px;
}

.extensao-descricao {
	background-color: #ffffff;
}

.extensao-img {
	border-radius: 4px 4px 0px 0px;
}

/* 
Removes white gap between slides 
*/
.carousel .carousel-banner {
	background: #e6e6e6;
	width: 100%;
}
/* 
Forces image to be 100% width and not max width of 100% 
*/
.carousel-item .img-fluid {
	width: 100%;
	height: auto;
}

/*  
anchors are inline so you need ot make them block to go full width 
*/
.carousel-item .carousel-item-banner a {
	display: block;
	width: 100%;
}

#texto-noticia img {
	max-width: 100%;
	height: auto;
}

/*
Removes white gap between slides - chagnge to base color of slide images
*/
.carousel .carousel-banner {
	background: #007aeb;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .carousel-item-banner .img-fluid {
	width: 100%;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item .carousel-item-banner a {
	display: block;
	width: 100%;
}

.videocard {
	height: 240px;
}

.youtube-video {
	border-radius: 0px;
}

.img-ex-responsive {
	height: 240px;
	border-radius: 0px;
	background: url(../img/ex48-noticia.jpg) no-repeat center center;
	background-size: cover;
}
#texto-noticia iframe {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.banner-title-description {
	background-color: #00000096;
	padding: 1.5rem;
	margin: 0 auto;
	border-radius: 6px;
}

.carousel-indicators .active {
	background-color: #fff;
	box-shadow: 3px 3px 4px black;
}

.main {
	padding-bottom: 90px;
}

.footer {
	position: fixed;
  left: 0;
	bottom: 0;
	width: 100%;
	height: 86px;
}

/* Museu Exploratório de Ciências */

.sobre-modulos {
	margin-top: 3rem;
	background-color: #f7f7f9;
}

#fill-card {
	min-height: 357px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Sobre Background Images */
.missao-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/07/DSC01077_Easy-Resize.com_-600x400.jpg) top center no-repeat;
}

.visao-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/08/37812978_1939609689412221_2052178190557773824_o-600x400.jpg) top center no-repeat;
}

.valores-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/08/IMG_0198_blur_2-600x400.jpg) top center no-repeat;
}

.equipe-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/08/foto_drone-01-1-600x400.jpg) top center no-repeat;
}

/* Exposições Background Images */
.praca-tempo-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/08/IMG_0188.jpg) top center no-repeat;
}

.dinossauros-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/07/capa_evento_fb-100.jpg) top left no-repeat;
	background-size: 100% 90% !important;
}

/* Programas Background Images */
.grande-desafio-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/08/low_oficinadesafio.jpg) top center no-repeat;
}

.ferias-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/08/MG_8276_low.jpg) top center no-repeat;
}

.fds-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/08/IMG_0043_low.jpg) top center no-repeat;
}

/* Oficinas Background Images */
.desafio-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/08/truck_1.png) center no-repeat;
	background-size: 90%  !important;
}

.fabrica3d-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/07/25.jpg) top center no-repeat;
}

.voo-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/08/avioes-1.png) top center no-repeat;
}

.viagem-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/10/capa_evento_fb_novo-copy-2-100.jpg) top center no-repeat;
}

.fossil-bg {
	background: url(http://www.mc.unicamp.br/wp-content/uploads/2018/08/IMG_0357_j.jpg) top center no-repeat;
}


#funcionaCultura ol { counter-reset: item; }
#funcionaCultura ol::first-letter { font-weight: 700; }
#funcionaCultura li { display: block }
#funcionaCultura li:before { font-weight: 700; content: counters(item, ".") " "; counter-increment: item }

/* Calendário Icon Background */
.calendar-bg {
	width: 90px;
	height: 90px;
	background-color: #ededa6;
	border-radius: 8px;
	margin: 0 auto;
}